/* Global Backgrounds, Colors, and Widths */
* {box-sizing: border-box;}
body{
    font-size: 16px;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header, nav ul, #content-wrapper{
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: #008000;
}
/* Logo
    img is the child of the header
*/

header img{ 
    position: absolute;
    top: 0;
    left: 0;
}
header{
    position: relative;
}

header h1, nav ul{
    padding-left: 50px;
}

/*  Navbar */
nav{
    background-color: #008000;
}
nav ul{list-style-type: none;}
nav ul li{display:inline-block}
nav a {
    display:inline-block;
    padding:1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    background-color: black;
    color: #98e39a;
}
/*  Home Page Main Image */
main article img{
    border: double 3px #333;
    float: left;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-right: .5rem;
}

